app/myenv/
__pycache__/
*.pyc
.gitkeep
.env
backend_src/backend/treasure_rewards/management/frontend_src/*
frontend_src/node/frontend/public/assets/movie_posters/
backend_src/backend/db.sqlite3
backend_src/backend/media/
backend_src/static/frontend
