header {
  width: 100%;
  background: #ffd700;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* 左右に要素を配置 */
  align-items: center; /* 縦方向に中央揃え */
  position: relative; /* 中央配置のために必要 */
}

.HeaderLogo {
  margin-right: auto; /* 左端に配置 */
}

.logo-image {
  height: 100px;
  width: auto;
  cursor: pointer;
}

.HeaderGameTitle {
  font-size: 26px;
  position: absolute; /* 中央配置のために必要 */
  left: 50%; /* 水平方向の中央に配置 */
  transform: translateX(-50%); /* 中央揃えの補正 */
}

.HeaderGameTitle a {
  color: black;
}

.HeaderLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.HeaderLinks span {
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.logout-button {
  background-color: #dc3545; /* ログアウトボタンの色 */
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

.HeaderLinks a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.success-message {
  color: #28a745;
  font-size: 12px;
  margin-top: 5px;
}
